<template id="" name="pendingActivitiesList">
  <div class="card contact_card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card w-clearfix">
        <div class="ey-card-item-content"><span>Greece Tax Deadline</span></div>
        <div class="ey-card-item-content ey-card-small"><span>7th February</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card w-clearfix">
        <div class="ey-card-item-content"><span>Germany Tax Deadline</span></div>
        <div class="ey-card-item-content ey-card-small"><span>28th February</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card last w-clearfix">
        <div class="ey-card-item-content"><span>Germany Tax Deadline</span></div>
        <div class="ey-card-item-content ey-card-small"><span>1st Abril</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
  </div>
<!-- 3 contact -->
</template>
