<template id="" name="programStatus">
  <div class="card contact_card ey-card-container your-program">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">
        Program Status
      </div>
    </div>
    <ul class="ey-your-program-list">
      <li class="ey-your-program-list_item">Travelers <span>3,093</span></li>
      <li class="ey-your-program-list_item">Assignees<span>543</span></li>
      <li class="ey-your-program-list_item">Non-compliant <span>5</span></li>
      <li class="ey-your-program-list_item total-coste">Total Costs <span>$7.7M</span>
        <span class="total-coste-secondary green"><i class="material-icons arrow_downward ">arrow_downward</i><span class="total-coste-secondary-number">5%</span></span>
      </li>
    </ul>

  </div>
</template>
