<template id="" name="contactCard1">
  <div class="card contact_card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Contacts</div>
    </div>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-icon-left"><img alt="card contact avatar"  src="/images/richard_fortissimo.jpg" >
        </div><img class="ey-card-item-content-right-icon" height="12" src="../images/ic-keyboard-arrow-right_1.svg" width="7">
        <div class="ey-card-item-content"><span>Ricardo Fortissimo<br></span>
        </div>
        <div class="ey-card-item-content ey-card-small"><span>Mobility Manager, EY<br></span>
        </div>
      </div>
    </a>
    <!-- <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-icon-left"><img height="32" src="../images/images.jpg" width="32">
        </div><img class="ey-card-item-content-right-icon" height="12" src="../images/ic-keyboard-arrow-right_1.svg" width="10">
        <div class="ey-card-item-content"><span>Sonia Gomes<br></span>
        </div>
        <div class="ey-card-item-content ey-card-small"><span>Home HR Manager<br></span>
        </div>
      </div>
    </a> -->
  </div>
<!-- 2 contact -->
</template>
