<template id="" name="travelRisk">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Travel Risk</div>
    </div>
    <div class="ey-card-content">
      <a class="ey-card-travel-card_1 w-inline-block" href="#">
        <!-- <h4 class="ey-card-travel-title">Pre-travel assessment has been completed</h4> -->
        <!-- <img class="ey-travel-card-chevron-right" src="../images/ic-keyboard-arrow-right_1.svg"> -->
        <p class="ey-card-travel_orange-txt">Your trip status is amber</p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons check">check_circle</i>Pre-travel assessment completed</p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons warning">warning</i>Please see immigration actions</p>
        
      </a>
    </div>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View Travel History <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
