<template id="" name="travelAssessement">
<div class="travel-assessement">
  <div class="ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Travel Assessement</div>
    </div>
    <div class="ey-card-content">
      <h4 class="ey-card-travel-title">Travel Watch</h4>
      <div class="ey-card-content-link">You are nearing your compliance thresholds</div>
      <div class="ey-card-travel-bar-header">Tax</div>
      <div class="ey-card-travel-bar-container w-clearfix">
        <div class="ey-card-travel-bar-days-number">180</div>
        <div class="ey-card-travel-bar-total-days">183</div>
        <div class="ey-card-travel-icon-right"></div>
        <div class="ey-card-travel-bar">
          <div class="ey-card-travel-bar-tax">
            <div class="ey-card-travel-bar-vat-yellow"></div>
            <div class="ey-card-travel-bar-vat-orange"></div>
            <div class="ey-card-travel-bar-vat-red"></div>
          </div>
        </div>
      </div>
      <div class="ey-card-title-time top-label travel-assessment">Total time spent in Argentina is 180 days.</div>
      <div class="ey-card-title-time travel-assessment">You have 3 days left until you are liable to pay tax in the UK.</div>
      <div class="ey-card-travel-bar-header">VAT</div>
      <div class="ey-card-travel-bar-container w-clearfix">
        <div class="ey-card-travel-bar-days-number vat">35</div>
        <div class="ey-card-travel-bar-total-days">90</div>
        <div class="ey-card-travel-bar">
          <div class="ey-card-travel-bar-vat">
            
          </div>
        </div>
        <div class="ey-card-travel-icon-right_second"></div>
        <div class="ey-card-travel-icon-right"></div>
      </div>
      <div class="ey-card-title-time top-label travel-assessment">Time spent in Brazil is 35 days.</div>
      <div class="ey-card-title-time travel-assessment">You have 55 days left until your visa is out of date.</div>
      
    </div>

    <div class="ey-card-large-footer ey-card-travel-title second_txt travel-services">View Compliance Thresholds</div>
      <div class="ey-card-travel-services_chevron-right w-embed"><i class="material-icons">chevron_right</i>
      </div>
  </div>

</div>
</template>
