<template id="" name="travelServices">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Travel Services</div>
    </div>
    <div class="ey-card-content">
	    <div class="ey-card-travel-services_sub">You have outstanding travel actions</div>
	    <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon">hotel</span> Book Accomodation</div>
	    <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon">flight_takeoff</span> Validate Flight Details</div>
	    <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon"></span><span class="material-icons trav-icon">chrome_reader_mode</span> View Travel Safety Guidance for Brazil</div>
	  </div>
	</div>
</template>
