<template id="" name="riskList">
  <div class="card ey-card-container ey-card-did-you-know">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Risks</div>
    </div>
    <a class="ey-card-item-container ey-risk-card w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-content">
        <span class="ey-risks-card-title ">HN51 ‘flu virus outbreak in South East Asia reported.
          <span class="ey-risks-card-link">You have 15 employees in this region</span>
        </span></div>
        <p class="ey-did-know-card-link">See more</p>
      </div>
    </a>
    <a class="ey-card-item-container ey-risk-card w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-content">
          <span class="ey-did-know-card-title">You have <span class="ey-risks-card-link">50 employees in Saudi Arabia</span> who have not submitted their FY17 tax returns (due on 31st March) and may be at risk of tax non-compliance</span></div>
          <p class="ey-did-know-card-link">See more</p>
      </div>
    </a>
    <a class="ey-card-item-container ey-risk-card w-inline-block " href="#">
      <div class="ey-card-item last w-clearfix">
        <div class="ey-card-item-content">
          <span class="ey-did-know-card-title">HN51 ‘flu virus outbreak in South East Asia reported. <span class="ey-risks-card-link">You have 15 employees in this region</span></span></div>
          <p class="ey-did-know-card-link">See more</p>
      </div>
    </a>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View All Risks <i class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
