<template id="" name="modal">
  <!--modal -->
  <div class="overlay hidden">
    <div class="modal-box">
      <!-- modal done box after upload-->
      <div class="modal-done hidden">
          <i class="material-icons modal-success-close-icon">close</i>
          <div class="check-box_icon"><i class="material-icons">check_circle</i></div>
          <p class="check-box_txt">File Uploaded Successfully</p>
          <button type="button" name="button" class="ey-primary-button btn-done">Continue</button>
      </div>
      <!-- modal done box after upload-->

      <div class="modal-title">Please Upload a Document <i class="material-icons icon-right">file_upload</i></div>
      <div class="modal-content drag-and-drop">

        <div class="box1">
          <a href="#" class="modal-btn btn-transparent">Browse on your device</a>
          <div class="dni hidden">
            <img src="./images/Passport-image.jpg" alt="">
          </div>
        </div>

      </div>
      <div class="btn-container">
        <button type="button" name="button" class="ey-btn-grey">Cancel</button>
        <button type="button" name="button" class="ey-primary-button">Upload</button>
      </div>
    </div><!--/.modal-box -->


  </div>
  <!--modal -->



</template>
