<template id="" name="modalDashboadMobility">
  <!--modal -->
  <div class="overlay hidden modal-mobility-dashboard">
    <div class="modal-box">
        <div class="modal-mobility-dashboard modal-title grey-line">
          <span>Non-compliant Employees</span>
          <button type="button" name="button" class="ey-primary-button">View All</button>
          <a class="close" href="#"><i class="modal-mobility-dashboard material-icons icon-right">close</i></a>
        </div>
        <div class="modal-mobility-dashboard-table-row title">
            <div class="modal-mobility-dashboard-table_col one">
              Name
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              Job Tible
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Compliance Issue
            </div>
            <div class="modal-mobility-dashboard-table_col four">
              Action
            </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
            <div class="modal-mobility-dashboard-table_col one">
              Marlene Finch
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              Senior Manager, Supply Chain
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Work permit expiry
            </div>
            <div class="modal-mobility-dashboard-table_col four ">
            <a href="#"><i class="material-icons modal-mobility-dashboard">visibility</i></a>
            </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
            <div class="modal-mobility-dashboard-table_col one">
            Felipe Costa
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              Director, HR and Talent
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Incomplete tax return
            </div>
            <div class="modal-mobility-dashboard-table_col four ">
            <a href="#"><i class="material-icons modal-mobility-dashboard">visibility</i></a>
            </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
            <div class="modal-mobility-dashboard-table_col one">
            Chinwemma Chukwudi
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              Senior Manager
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Immigration documentation
            </div>
            <div class="modal-mobility-dashboard-table_col four ">
            <a href="#"><i class="material-icons modal-mobility-dashboard">visibility</i></a>
            </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
            <div class="modal-mobility-dashboard-table_col one">
            Jun Hsieh
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              VP, Marketing
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Work permit expiry
            </div>
            <div class="modal-mobility-dashboard-table_col four ">
            <a href="#"><i class="material-icons modal-mobility-dashboard">visibility</i></a>
            </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content last">
            <div class="modal-mobility-dashboard-table_col one">
            Sofia Beneventi
            </div>
            <div class="modal-mobility-dashboard-table_col two">
              Manager
            </div>
            <div class="modal-mobility-dashboard-table_col three">
              Work permit expiry
            </div>
            <div class="modal-mobility-dashboard-table_col four ">
            <a href="#"><i class="material-icons modal-mobility-dashboard">visibility</i></a>
            </div>
        </div>

    </div><!--/.modal-box -->


  </div>
  <!--modal -->
</template>
