<template name="nav">
  <li class="ey-left-nav-list-item {{ maybeSelected }}">
    <a class=" ey-nav-link-bloc w-inline-block" href={{link}}>
      <div class="ey-nav-link-text w-clearfix">
        <i class="material-icons nav-ico">{{icon}} </i>
        {{text}}
      </div>
    </a>
  </li>


  <!-- <div class="ey-left-navigation">
    <div class="ey-left-nav-logo-container">
      <a href="/"><img class="ey-left-nav-logo" height="50" src="/images/logo.svg" width="50"></a>
    </div>
    <div>
      <ul class="ey-left-nav-list w-list-unstyled">
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/dashboard">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons active nav-ico">home</span> Home</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/register">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">flight</span> My Trips</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">today</span> Calendar</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix">
              <span class="material-icons nav-ico">library_books </span>Documents</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">done_all</span> Tasks</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">local_library </span>Resources</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">phone</span> Contacts</div>
          </a>
        </li>
      </ul>
    </div>
  </div> -->

</template>
